
#news_wrap{
  min-width: 1200px;
  height:100%;
  position: relative;
  color:white;
  font-family: 'Nanum Gothic', sans-serif;
  background:#151515;
}

.news_main_article{
  margin-bottom: 250px;
}

.news_main_article .article_title{
  width:1200px;
  margin: 0 auto;
}

.news_main_article .article_title h2{
  font-size:40px;
  font-family: 'Corporate S Bold';
  padding:30px 0;
}

.news_main_article .article_title p{
  font-size:14px;
  margin-bottom: 35px;
}

.news_main_article .article_img{
  width:95%;
  margin: 0 auto;
  position: relative;
}

.news_main_article .article_img a{
  width:100%;
}

.news_main_article .article_img img{
  width:100%;

}

.article_img .article_img_desc{
  position: absolute;
  bottom:0;
  left:0;
}

.article_img_desc .title{
  font-size: 42px;
  font-weight: 700;
}

.article_img_desc .data{
  font-size: 12px;
  color:#666666;
  margin-top: 30px;
}

.article_list{
  width:100%;
}
.article_list ul{
  width:1200px;
  margin: 0 auto;
  overflow: hidden;
}

.article_list ul h2{
  font-size: 16px;
  font-weight: 700;
  font-family: 'Corporate S Bold';
  margin-bottom: 30px;
}

.article_list ul li{
  width:580px;
  float: left;
}

.article_list ul li:nth-of-type(odd){
  margin: 0 40px 40px 0;
}

.article_list ul li a{
  display: block;
}

.article_list ul li a img{
  display: block;
  width:100%;
  height: 100%;
  margin-bottom: 15px;
}

.article_list .title{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.article_list .data{
  font-size: 14px;


}
