@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {   font-family: 'Corporate S Regular'; src: url('../font/Corporate S Regular.otf');}
@font-face {   font-family: 'Corporate S Bold'; src: url('../font/Corporate S Bold.otf');}
@font-face {   font-family: 'HelveticaNeueLTStd-Bd'; src: url('../font/HelveticaNeueLTStd-Bd.otf');}
@font-face {   font-family: 'HelveticaNeueLTStd-Roman'; src: url('../font/HelveticaNeueLTStd-Roman.otf');}
html,body{position: relative; height: 100%; }
body{
  font-family: 'Corporate S Regular', sans-serif;
  line-height: 1.5;
  min-width: 1200px;
}
      /* font-family: 'Nanum Gothic', sans-serif; */
ul,ol{ list-style: none; }
*{margin:0; padding:0;}
button{ background: none;}
a{ color: white; font-size: 14px; text-decoration: none;}

@keyframes dropMenuAni01 {
  from{height: 0;}
    to{height: 80px;}
}

@keyframes re_dropMenuAni01 {
  from{height: 80px;}
    to{height: 0;}
}

@keyframes dropMenuAni02 {
  from{height: 0;}
    to{height: 495px;}
}

@keyframes re_dropMenuAni02 {
  from{height: 495px;}
    to{height: 0;}
}

@keyframes searchBar {
  from{width:  60px;}
    to{width: 274px;}
}


/*//공통 스타일*/
.img_info{
  position: absolute;
  bottom:20px;
  padding: 0 40px;
  left:0;
  color:#ffffff;
}

.img_info .category{
  font-size: 15px;
  font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
}

.img_info .desc{
  position: relative;
  font-size: 24px;
  margin-top: 19px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.img_info .desc:after{
  content:'';
  display: inline-block;
  width:22px;
  height: 16px;
  margin-left: 4px;
  background-image:url('../image/common/arr_right_rd_22x16.png');
}

/*공통 스타일//*/

#wrap{
  /* height: 100%; */
}

#header{
  position: relative;
  width:100%;

}

/*//upper menu*/
.upper_menu{
 background:#151515;
 border-bottom: 1px solid #303030;
}

.upper_menu > ul{
  width:1200px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
}

.upper_menu > ul > li{
  float:left;
}

.upper_menu > ul > li > a{
  font-size: 13px;
  font-family: 'Corporate S Bold', sans-serif;
  color:#848484;
}

.upper_menu > ul > li:nth-of-type(1) ~ *{
  float:right;
  margin-left: 20px;
}
 /*button : ONLINE STORE*/
.upper_menu > ul > li:nth-of-type(2) button{
  width:138px;
  height: 30px;
  padding-left:15px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Corporate S Regular', sans-serif;
  background: #e30610;
  border: none;
  border-radius: 2px;
  outline: none;
  color:#ffffff;
  background-image: url('../image/common/ico_cart_wt_12x12.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
  /*LOGIN ACCOUNT*/
.upper_menu > ul > li:nth-of-type(3) a{
  font-size: 13px;
  font-family: 'Corporate S Bold';
  padding-left: 18px;
  background-image: url('../image/common/ico_account_gr_13x12.png');
  background-repeat: no-repeat;
  background-position: left center;
}
  /*한국어*/
.upper_menu > ul > li:nth-of-type(4) a {
  position: relative;
  top:2px;
  font-size: 14px;
  font-family: 'Corporate S Bold';
  margin-left: 10px;
  padding-left: 21px;
  display: inline-block;
  background-image: url('../image/common/ico_kor_16x11.png');
  background-repeat: no-repeat;
  background-position: left 13px;
}
  /*SEARCH*/
.upper_menu > ul > li:nth-of-type(5){
  position: relative;
}

.upper_menu > ul > li:nth-of-type(5) .search_area{
  width:296px;
  height: 40px;
  position: relative;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}
.upper_menu > ul > li:nth-of-type(5) .search_area input{
  font-family: 'Corporate S Bold', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-left: 12px ;
  margin-right: 10px;
  width:60px;
  outline: none;
  background: #151515;
  border: none;
  border-radius: 5px ;
  transition: 0.8s;
}

.upper_menu > ul > li:nth-of-type(5) .search_area input:focus{
    width:100%;
    background: white;
}

.upper_menu > ul > li:nth-of-type(5) .search_area input::placeholder{
  color:#555555;
}

/*search dropbox css//*/

.upper_menu > ul > li:nth-of-type(5) .search_area input:focus{
  width:274px;
  color:#555555;
  background: #848484;
  border-radius: 5px;
  text-align: left;
}

.upper_menu > ul > li:nth-of-type(5) .search_area input:focus ~.search_dropbox{
  transition: 0.8s;
  /* opacity: 1; */
}

.upper_menu > ul > li:nth-of-type(5) .search_area input:focus + .btn_clear {
  display: block;
  float: right;
}

.upper_menu > ul > li:nth-of-type(5) .search_area .btn_clear{
  display: none;
  position: absolute;
  width:18px;
  height: 18px;
  right:15px;
  top:calc(50% - 9px);
  border: none;
  outline: none;
  background-image: url('../image/common/ico_x_wt_36x36.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.upper_menu > ul > li:nth-of-type(5) .btn_search{
  position: absolute;
  width:12px;
  height: 12px;
  top:calc( 50% - 6px);
  right: -10px;
  border: none;
  outline: none;
  background-image: url('../image/common/ico_search_gr_12x12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
/*upper menu//*/

/*//lower menu*/
.lower_menu{
 position: relative;
 background:#151515;
 border-bottom: 1px solid #303030;
}

.lower_menu .lower_wrap{
  width:1200px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  padding: 0 40px;
}

.lower_wrap > *{
  display: inline-block;
  float: left;
}

.lower_wrap .logo{
  width: 48px;
  height: 100%;
  display: flex;
  align-items: center;
}

.lower_wrap .logo > a{
  display: block;
  width: 48px;
  height: 48px;
  background-image: url('../image/common/logo_leica_48x48.png');
}

.lower_wrap .gnb ul{
  margin-left: 55px;
}
.lower_wrap .gnb ul li{
  display: inline-block;
}

.lower_wrap .gnb ul li:hover > a{
  color:#ed1c24;
}

.lower_wrap .gnb ul li:nth-of-type(1) ~ *{
  margin-left: 20px;
}

.lower_wrap .cart{
  position: relative;
  float: right;
  width: 44px;
  height: 100%;
  background-image: url('../image/common/ico_cart_wt_18x18.png');
  background-repeat: no-repeat;
  background-position: center;
}

.lower_wrap .cart a{
 position: absolute;
 width: 18px;
 height: 18px;
 line-height: 18px;
 top:25px;
 right:0px;
 color:white;
 font-size: 14px;
 border-radius: 50%;
 background: #e30610;
 text-align: center;
}

/*lower menu//*/

/*//upper_drop*/
.upper_drop{
  display: none;
  position: absolute;
  top: 122px;
  left:0;
  right:0;
  background: #151515;
  z-index: 10;
  overflow: hidden;
}

.upper_drop .upper_item_wrap{

  width:1200px;
  margin: 0 auto;
  padding: 34px 40px 27px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.upper_item_wrap .upper_item{
  height: 100%;
  display: inline-block;
  float: left;
  width: 150px;
  margin: 26px 40px 0 0;
  padding-left: 103px;
}

.upper_item_wrap .upper_item a{
  font-size: 14px;
  color:#ffffff;
}

.upper_item_wrap .upper_item > a{
 font-weight: bold;
}

.upper_item_wrap .upper_item a p{
  font-size: 12px;
  color:#999999;
  margin-top: 2px;
}

.upper_item_wrap .upper_item ul{
  margin-top: 15px;
  padding-top: 11px;
  border-top: 1px solid #363636;
}

.upper_item_wrap .upper_item ul li{
  height:30px;
}

.upper_item_wrap .upper_item:nth-of-type(1){
  background-image: url('../image/common/camera_leica_m.jpg');
  background-repeat: no-repeat;
}
.upper_item_wrap .upper_item:nth-of-type(2){
  background-image: url('../image/common/camera_leica_sl.jpg');
  background-repeat: no-repeat;
}
.upper_item_wrap .upper_item:nth-of-type(3){
  background-image: url('../image/common/camera_leica_q.jpg');
  background-repeat: no-repeat;
}
.upper_item_wrap .upper_item:nth-of-type(4){
  background-image: url('../image/common/camera_leica_cl_tl2.jpg');
  background-repeat: no-repeat;
}
.upper_item_wrap .upper_item:nth-of-type(5){
  background-image: url('../image/common/camera_compact.jpg');
  background-repeat: no-repeat;
}
.upper_item_wrap .upper_item:nth-of-type(6){
  background-image: url('../image/common/camera_sofort.jpg');
  background-repeat: no-repeat;
}

/*upper_drop//*/


/*//lower_drop*/
.lower_menu .lower_wrap .gnb > ul > li:hover > .lower_drop{
  display: block;
  animation: dropMenuAni01 0.8s;
}

.lower_menu .lower_wrap .gnb .lower_drop{
  overflow: hidden;
  display: none;
  position: absolute;
  top:81px;
  left:0;
  margin-left: 0;
  width: 100%;
  background:#151515;
  z-index: 10;

}

.lower_menu .lower_wrap .gnb .lower_drop > ul{
  width:1200px;
  margin: 0 auto;

}

.lower_menu .lower_wrap .gnb .lower_drop > ul > li:first-child{
  margin-left: 103px;
}
/*lower_drop//*/


/*//mainbanner*/
#mainbanner{
  position:relative;
    overflow: hidden;
}

/*mainbanner//*/


/*//section01*/
#section01{
  width: 100vw;
  position: relative;
  padding-bottom: 20px;
  background-color: #f1f3f4;
}
.sc01_top{
  position: relative;
  width:100%;
  height: 608px;
}
.sc01_top a img{
  display: block;
  width: 100%;
  height:100%;
}

.sc01_top .img_info{
  width: 1280px;
  margin: 0 auto;
  padding : 0 40px;
  bottom:calc(50% - 56.5px);
  left:0;
  right: 0;
}

.sc01_bottom{
  width:1280px;
  height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}

.sc01_bottom > div{
  display: inline-block;
  float: left;
}

 .sc01_bottom_left{
  position: relative;
  margin-right: 40px;
}

.sc01_bottom_left .img_info > p{
  text-shadow: 2px 2px #000000;
}

.sc01_bottom_right a{
  display: block;
  height: 390px;
}

.sc01_bottom_right .img_info > p{
  text-shadow: 1px 2px #000000;
}

.sc01_bottom_right > div{
  position: relative;
}

.sc01_bottom_right a:nth-of-type(1){
  margin-bottom: 40px;
}

.sc01_bottom_right a img{
  float:left;
}

/*section01//*/

/*//section02*/

#section02{
  width: 100vw;
  overflow: hidden;
}


#section02 .slide_list_box{
 position: relative;
 width:1280px;
 margin:0 auto;
 height: 100%;
 display: flex;
}

.slide_list_box ul{
  display: flex;
}

.slide_list_box ul li{
  width: 620px;
  padding-right: 40px;
  position: relative;
}

.slide_list_box .img_info{
 position: absolute;
 color:#000000;
 top:20px;
}

/*section02//*/


/*//section03*/

#section03{
  width: 1280px;
  margin: 105px auto 0;
  overflow: hidden;
}

.sc03_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

}

.sc03_title > h2{
  display: inline-block;
  padding: 0 40px;
  font-size: 30px;
}

.sc03_title > a{
  display: inline-block;
  margin: 0 40px;
  padding-right: 33px;
  font-size: 24px;
  font-family: 'Corporate S Bold', sans-serif;
  color:#e30610;
  background-image: url('../image/common/arr_right_rd_22x16.png');
  background-repeat: no-repeat;
  background-position: right center;
}
.sc03_top_left{
  width:59.609375%;
  height: 100%;
  float: left;
}

.sc03_top_left a img{
  width: 763px;
  height: 763px;
}
.sc03_top_right{
  width:37.265625%;
  height: 763px;
  float: right;
  margin-left: 40px;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.sc03_top_right ul{

  height: 100%;
  overflow-y: scroll;
}

/*스크롤바 안보이기*/
.sc03_top_right ul::-webkit-scrollbar {
  display: none;
}

.sc03_top_right ul li{
  position: relative;
  float: left;
}

.sc03_top_right ul li:before{
  content:'';
  position: absolute;
  left:45px;
  width:1px;
  height: 100%;
  background: #ededed;
}


.sc03_top_right ul li > *{
    display: inline-block;

}
.sc03_top_right ul li > p{
  position: relative;
  float: left;
  width:47px;
  height: 100%;
  font-family: 'Corporate S Bold', sans-serif;
  padding-top: 40px;
}

.sc03_top_right ul li > p:after{
  content:'';
  position: absolute;
  top:48px;
  right:-2px;
  width:7px;
  height: 7px;
  background: #ed1c24;
  border-radius: 100%;
}

.sc03_top_right ul li a{
  width: calc(100% - 82px);
  font-size:14px;
  font-family: 'Nanum Gothic', sans-serif;
  color:#000000;
  padding-top: 40px;
  position: relative;
  border-top: 1px solid #ebebeb;
  float: right;
  padding: 40px 0;
}

.sc03_top_right ul li a:after{
  content:'';
  bottom:20px;
  width: 100%;
  height: 1px;
  background:black;
}

.sc03_top_right ul li a > *{

}

.sc03_top_right .desc{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 28px;
}

.sc03_top_right .info{
 width:51.86%;
 float: left;
}

.sc03_top_right .img_date_place{
  position: absolute;
  bottom:40px;
  left:0;
  color: #848484;
}

.sc03_top_right img{
  width:48.14%;
}

/*section03//*/



/*//section04*/

#section04{
  width: 1280px;
  margin: 105px auto 0 ;
  padding: 0 40px;
}

#section04 h2{
  font-size: 30px;
  padding: 0 40px;
  font-family: 'Corporate S Bold', sans-serif;
}

.exhibition_contnet a{
  position: relative;
  display: block;
  width:100%;
  height: 100%;
}

.exhibition_contnet a img{
 width:100%;
}

.exhibition_contnet a .img_info{
  position: absolute;
  bottom:100px;
  left:0;
}

.exhibition_contnet a .img_info p{
  text-shadow: 1px 2px #000000;
}

.exhibition_contnet a .img_date_place{
  position: absolute;
  bottom:40px;
  left:0;
  padding-left: 40px;
}

.exhibition_contnet a .img_date_place p{
  display: inline-block;
  font-size: 18px;
  text-shadow: 2px 2px #000000;
}

.exhibition_contnet a .img_date_place p:last-child{
  margin-left: 30px;
}

/*section04//*/


/*//section05*/

#section05{
  background-color: #ed1c24;
  margin-top: 125px;
}

.sc05_wrap{
  width:1280px;
  height: 225px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.sc05_wrap h2{
  font-size: 15px;
  color:#ffffff;
  font-weight: bolder;
  padding-left: 40px;
}

.sc05_wrap a{
  position: relative;
  font-size: 21px;
  color:#ffffff;
  font-weight: bolder;
  margin-top: 20px;
  padding-left: 40px;
}

.sc05_wrap a:after{
  content:'';
  width:22px;
  height:16px;
  position: absolute;
  display: inline-block;
  top:calc(50% - 11px);
  right:-25px;
  background-image: url('../image/common/arr_right_wt_22x16.png');
  background-repeat: no-repeat;

}

/*section05//*/


/*//footer*/

#footer{
  background:#000000;
}

.site_map_wrap{
  border-bottom: 1px solid #303030;
}

.site_map{
  width:1200px;
  height: 345px;
  margin: 0 auto;
  padding: 40px 40px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.site_map .map_item:nth-of-type(2){
  display: block;
  margin-top: 27px;
}

.site_map .map_inner .map_item .map_header{
  font-size: 14px;
  font-family: 'Corporate S Bold', sans-serif;
  color:white;
}

.site_map .map_inner .map_item ul{
  margin-top: 20px;
}

.site_map .map_inner .map_item a{
  font-family: 'Nanum Gothic', sans-serif;
}

/*//페이스북,인스타그램 아이콘*/
.map_inner:last-child .map_item ul li a{
  position: relative;
  padding-left: 27px;
}

.map_inner:last-child .map_item ul li:first-child a:before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  display: inline-block;
  width:16px;
  height: 16px;
  background-image: url('../image/common/ico_facebook_wt_10x16.png');
  background-repeat: no-repeat;
  background-position: center;
}

.map_inner:last-child .map_item ul li:last-child a:before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  display: inline-block;
  width:16px;
  height: 16px;
  background-image: url('../image/common/ico_instagram_wt_16x16.png');
  background-repeat: no-repeat;
  background-position: center;
}

/*페이스북,인스타그램 아이콘//*/

.company_info_wrap .company_info > div{
  display: inline-block;
}

.company_info{
  width:1200px;
  margin: 0 auto;
  color:white;
  font-size: 12px;
  padding: 40px 0;
}

.footer_adress_wrap{
  width:600px;
  float: left;
}

.footer_adress_content{
  display: inline-block;
}

.footer_adress_content p {
  display: inline-block;
  line-height: 22px;
  font-weight: 400;
}

.footer_adress_content .footer_adress_value{
  font-family: 'Nanum Gothic', sans-serif;
  color:#555555;
  margin-right: 15px;
}

.copyright{
  display: inline-block;
  font-family: 'HelveticaNeueLTStd-Roman', sans-serif;
  color:#555555;
  margin-left: 46px;
  line-height: 44px;
}

.footer_logo{
  position: relative;
  font-size: 14px;
  font-family: 'HelveticaNeueLTStd-Roman', sans-serif;
  font-weight: 400;
  float: right;
  line-height: 44px;
  padding-left: 40px;
}

.footer_logo:before{
  content:'';
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 34px;
  top:calc(50% - 17px);
  left:0;

  background-image: url('../image/common/logo_leica_48x48.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
/*footer//*/
